* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Titillium Web', sans-serif;   
    color: whitesmoke;
    font-size: 2 rem;
}
header {
    width: 100%;
    height: 100vh;
    background-image: url(../images/adventure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.sidebar {
    width: 300px;
    height: 30%;
    background-color: #30343d;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 6rem;
    right: -300px;
    justify-content: center;
    align-items: center;
    border-radius: 40% 0 0 60%;
    transition: 0.08s;
}
.logo {
    height: 4rem;
    width: 4rem;
}
.navbars {
    position: fixed;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.8s;
    top: 4rem;
    right: 4rem;
}
.navlinks a{
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
    font-size: 2 rem;
}
ul li{
    list-style-type: none;
    padding: .5rem;
    font-size: 1rem;
}
.navclose {
    display: none;
}
.change {
    right: 0;
}
